<div class="container text-center p-5">
  <img class="mw-100" src="/content/images/mv.png">

  <h1 class="mt-5">{{ message }}</h1>

  <p>
    Welcome to your new Momentum web application.<br />
    Follow us on 
    <a class="fw-bold text-dark" href="https://momentumframework.org/" target="_blank">our website</a>,
    <a class="fw-bold text-dark" href="https://discord.momentumframework.org/" target="_blank">Discord</a>,
    <a class="fw-bold text-dark" href="https://github.com/momentumframework" target="_blank">GitHub</a> or
    <a class="fw-bold text-dark" href="https://twitter.com/mvfdeno" target="_blank">Twitter</a>
    for help along the way.
  </p>
</div>